@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600&display=swap');

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body{

     background-image: url('/src/assets/images/nasa.jpg');
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
     font-family: 'Roboto Mono', monospace;
}

.App{
     
}

.container{
     max-width: 1100px;
     backdrop-filter: blur(2px);
     background-color: rgba(0, 0, 30, 0.4);
     min-height: 100vh;
     margin: auto;
     margin-top: 3rem;
     border-radius: 8px;
     box-shadow: 0px 0px 4px #fcd78e7e;;
}

