.add-tool-form{
     display: flex;
     gap: 1rem;
     margin: auto;
     padding: 1rem;
     justify-content: center;
     gap: 2rem;
     max-width: 650px;
}

.add-tool-form>div:first-child{
     display: flex;
     flex-direction: column;
     gap: 1rem;
     max-width: 320px;
}

.add-tool-form>div:last-child{
     display: flex;
     flex-direction: column;
     gap: 1rem;
     align-self: center;
}

.img-container{
     width: 200px;
}

.img{
     width: 100%;
}

button{
     font-family: 'Roboto Mono', monospace;
     margin: auto;
     padding: 3px 1rem;
     font-weight: 600;
     color: #FCD78E;
     background: none;
     border: 1px solid #FCD78E;
     border-radius: 8px;
     cursor: pointer;
}

button:hover{
     border: 0;
     color: #ffffff;
     transform: scale(1.2);
     transition: 0.15s;
     text-shadow: 0 0 30px #edb844, 0 0 30px #edb844, 0 0 30px #edb844;
}

label{
     color: #FCD78E;
     font-weight: 300;
     font-family: 'Roboto Mono', monospace;
     font-size: 14px;
}

input{
     width: 100%;
     height: 28px;
     border-radius: 4px;
     padding-left: 6px;
     border: 0;
}

input:focus, textarea:focus{
     outline: none;
}

textarea{
     resize: none;
     height: auto;
     width: 100%;
     padding-left: 4px;
     padding-top: 4px;
     border-radius: 4px;
}


@media(max-width: 745px){
     .add-tool-form{
          flex-direction: column;
          align-items: center;
     }

     .container{
          padding: 0;
          margin: 3rem 1.5rem!important;
     }
}