.notice{
     position: absolute;
     right: 0;
     top: -2rem;
     height: 80px;
     width: 300px;
     border: 0;
     background-color: #75a5db49;
     color: #d8d8d8;
     border-radius: 12px;
     padding: 0.8rem;
     
}

.notice>div{
     position: relative;
}

.notice>div>p{
     font-size: 13px;
}

.close-logo{
     height: 20px;
     position: absolute;
     top: -8px;
     right: -8px;
     cursor: pointer;
}