.home-title{
     color: #FCD78E;
     font-weight: 300;
     margin: 2rem 0;
     margin-left: 1rem;
     font-size: 24px;
}

.list-container{
     display: flex;
     flex-direction: column;
     gap: 2rem;
}

.tool-container{
     width: 100%;
     margin: 0 auto;
     padding: 1rem 0;
     height: 150px;
     box-shadow: 0px 0px 4px rgba(105, 104, 104, 0.63);
     border-left: 5px solid #FCD78E;
     display: flex;
     justify-content: space-around;
     align-items: center;
     color: #f0f0f0;
     overflow: hidden;
}

.tool-container>h3{
     color: #ffe4aee3;
     font-family: 'Shadows Into Light', cursive;
     font-size: 22px;
     letter-spacing: 2px;
     white-space: nowrap;
     text-overflow: ellipsis;
     width: 150px;
}

.tool-container>button{
     margin: 0;
}


.tool-container>p{  
    width: 300px;
    text-align: justify;
    font-size: 14px;
    font-weight: 300;
    
}

@media(max-width: 830px){
     .container{
          margin: 3rem;
 
     }

     .home-title{
          text-align: center;
     }

     .tool-container{
          flex-direction: column;
          height: auto;
          gap: 2rem;
          border-left: 0px;
          border-top: 5px solid #FCD78E;
     }

      .tool-container>h3{
          text-align: center;
     }

     .tool-container>p{  
          min-height: 100px;
          width: auto;
          
      }
     
}